
    <!--<md-sidenav-container class="sidenav-container">-->
        <!--<md-toolbar>-->
            <!--<div>-->
                <!--<button (click)="sidenav.toggle()">>>></button>-->
                <!--<span>Video Menu</span>-->
                <!--<span>Video1 </span>-->
                <!--<span>Video2 </span>-->
            <!--</div>-->
        <!--</md-toolbar>-->

        <!--<md-sidenav #sidenav mode="side" class="sidenav">-->
            <!--<nav>-->
                <!--<h5 class="bg-info">Angular</h5>-->
            <!--</nav>-->
            <!--<nav>-->
                <!--<h3>Vue</h3>-->
            <!--</nav>-->
            <!--<nav>-->
                <!--<h3>React</h3>-->
            <!--</nav>-->
            <!--<nav>-->
                <!--<h3>Ember</h3>-->
            <!--</nav>-->
        <!--</md-sidenav>-->
    <!--</md-sidenav-container>-->


    <div class="sidenav-content">
        <div class="row">
            <div #myContainer id="videolist" class="col-xs-6" [style.margin-left]="getStyle()">
                <video-list></video-list>
            </div>
            <div class="col-xs-6 card-class">
                <div ngui-sticky>
                    <card></card>

                </div>
            </div>
        </div>
    </div>
