.sidenav-container {
    width: 100%;
    height: auto;
    border: 0px solid rgba(0, 0, 0, 0.5);
}

.sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.sidenav {
    padding: 20px;
}

.mat-sidenav {
  background-color:  #404044;
    min-width: 10vw;
}

.mat-toolbar {
    background-color: #000000;
    color: white;
    padding-left: 0;
    padding-right: 0;
}


.pagination-centered {
    text-align: center;
}

li {
    border: none;
}

.playing {
    background-color: #ffdada;
}