.sidenav-container {
    width: 100%;
    height: auto;
    border: 0px solid rgba(0, 0, 0, 0.5);
}

.sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.sidenav {
    padding: 20px;
}

.mat-sidenav {
  background-color:  #404044;
    min-width: 10vw;
}

.mat-toolbar {
    background-color: #000000;
    color: white;
    padding-left: 0;
    padding-right: 0;
}


.pagination-centered {
    text-align: center;
}

li {
    border: none;
}

.playing {
    background-color: #ffdada;
}

.video-display{
    position: fixed;
    top: 4em;
    right: 1em;
}



.sticky-container > div {
    border: 1px solid #333;
    background-image: linear-gradient(rgba(255, 255, 255, 1) 50%, transparent 50%, transparent);
    background-size: 50px 50px;
    height: auto;
}
.sticky-float-right {
    background-color: rgba(0,255,0, .2);
}
div[ngui-sticky] {
    min-width: 400px;
    text-align: center;
    background: #333;
    color: #fff;
    border: 1px solid #333;
    padding: 10px;
}

.card-class{
    margin-left: 50px;
}