<nav>
    <md-toolbar color="accent" class="navbar">
        <div class="top-bar">
            <button class="btn btn-outline-secondary" [routerLink]="['/home']">
                <i class="material-icons">home</i>
            </button>
            <span style="margin-left: 32vw">Tech-flix.tv</span>
            <span class="spacer"></span>
            <button class="btn btn-outline-secondary"
                    [routerLink]="['/create-video']"
                    style="margin-left: 35vw;">
                <i class="material-icons">add</i>
            </button>
        </div>
        <md-toolbar-row class="menu-bar">
        <span *ngFor="let menu of menulist">
            <button class="btn btn-outline-secondary btn-sm buttom-class">
                <a routerLink="/video/{{menu}}"
                   routerLinkActive="active"
                   (click)="fetchMenu(menu)">
                    {{menu}}
                </a>
            </button>
        </span>
        </md-toolbar-row>
    </md-toolbar>
</nav>